extends ./template/bootstrap

block title
	title 南臺學生總管 (#{usrName})

	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#mynav', aria-expanded='false', aria-controls='mynav')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

				a.navbar-brand(href=".") 南臺學生總管
			.collapse.navbar-collapse(id='mynav')
				ul.nav.navbar-nav
					li.active
						a(href='/') 總覽
					li
						a(href='/examseat') 考試座位
					li
						a(href='/leave') 請假系統
					li
						a(href='/flip') Flip事件
					li
						a(href='/course') 選課人數查詢
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/logout' id='logout') 登出 (#{usrName})

block content
	.container
		<!-- Search -->
		div(id="content")
			div(id="search")
				input(id="search-input" placeholder="總管可以幫你找到校內任何一個頁面")
				div(id="search-clear" class="no-select") X
				div(id="search-complete")
					script(id="complete-template" type="text/x-handlebars-template")
						<ul id="auto-results" onclick="$('input').focus()">
						{{#each results}}
						<li class="auto-result" tabindex="0" onmouseover="$('#search-input').val($(this).text())">{{.}}</li>
						{{else}}
						<li class="auto-result" data-invalid="true" >總管找不到你要的頁面，將由 Google 代勞。</li>
						{{/each}}
						</ul>


		h1 學生課表

		<!-- today -->
		div(class ='panel panel-danger')
			div(class='panel-heading', id='todayHeader', data-parent='#accordion', href='#collapseOne',aria-expanded='true', aria-controls='collapseOne')
				div(style='text-align: right;')
					i(class='fas fa-bullhorn fa-lg')  
					| 公告　
					i(class='far fa-calendar-alt fa-lg')  
					| 事件　
					i(class='far fa-file fa-lg')  
					| 檔案　
					i(class='far fa-comments fa-lg')  
					| 討論
			#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='collapseOne') 	
				table.table.table-striped.table-hover(id='ClassTable' style="table-layout:fixed;")
					thead
						tr
							th 時間/星期
							th(id="week1") 一
							th(id="week2") 二
							th(id="week3") 三
							th(id="week4") 四
							th(id="week5") 五
							th(id="week6") 六
					tbody
		link(rel='stylesheet', href='/css/style.css')
		script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
		script( src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js')
		script( src='js/searchbar.min.js')
		script.
			$(document).ready(function() {
				if($("#logout").text() == "登出 ()"){
					window.location.replace('/?act=logout&timeout=true');
				}
				// 延長 Eportal Token 過期時間
				//- usrLoginEportal();
				//- usrLoginFlip();
				RefreshVacation();
				$(function(){
					setTimeout(function(){
						LoadAboutFlip();
					},600)
				})
				$("body").on("click",".window",function(){
					$(".window").colorbox({iframe:true, width:"86%", height:"86%"});
				});

			});

			function usrLoginEportal(){
				var script = '<iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-pointer-lock" src=\'data:text/html,<form method=post action="https://identity.stust.edu.tw:8443/nidp/idff/sso?sid=0"><input name="Ecom_User_ID" value="#{eportalUsr}"><input name="Ecom_Password" value="#{eportalPass}"><input name="b1" value="登入Login"></form><script>document.forms[0].submit()<%2fscript>\'></iframe>';
				
				var iframe = document.createElement('iframe');
				document.body.appendChild(iframe);
				iframe.hidden = true;
				iframe.contentWindow.document.open();
				iframe.contentWindow.document.write(script);
				iframe.contentWindow.document.close();
			}

			function usrLoginFlip(){
				var flipScript = '<iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-pointer-lock" src="https://eportal.stust.edu.tw/Ap/111"></iframe>';

				var iframe = document.createElement('iframe');
				document.body.appendChild(iframe);
				iframe.hidden = true;
				iframe.contentWindow.document.open();
				iframe.contentWindow.document.write(flipScript);
				iframe.contentWindow.document.close();
			}

			function RefreshVacation() {
				$.ajax({
						url: '/getAbsenteeism',
						dataType: "json",
						success: function(data) {

							if (data['classTableArr'] == null) {
								window.location.replace('/?act=logout&timeout=true');
								return;
							}

							var EmptyClassCount = new Array(0, 0, 0, 0, 0, 0, 0);
							var dayEmptyClassCount = 0; var nightEmptyClassCount = 0;
							var is_day, is_night;
							
							/* Day Count Start */
							let ClassDayList = ['', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
							let oneDayCourseStart = 1;
							let oneDayCourseEnd = 9;
							let dayCourseTotalNumber = 54;
							for(var i = oneDayCourseStart; i <= oneDayCourseEnd; i++) {
								var curClass = data['classTableArr'][i];
								for(var j = 1; j < ClassDayList.length; j++){
									if(curClass[ClassDayList[j]]["Course"] == 0){EmptyClassCount[j]++; dayEmptyClassCount++;}
								}
							}
							dayEmptyClassCount >= dayCourseTotalNumber ? (is_day = false) : (is_day = true);
							/* Day Count End */

							/* Night Count Start */
							let oneNightCourseStart = 11;
							let oneNightCourseEnd = 14;
							let nightCourseTotalNumber = 24;
							for(var i = oneNightCourseStart; i <= oneNightCourseEnd; i++) {
								var curClass = data['classTableArr'][i];
								for(var j = 1; j < ClassDayList.length; j++){
									if(curClass[ClassDayList[j]]["Course"] == 0){EmptyClassCount[j]++; nightEmptyClassCount++;}
								}
							}
							nightEmptyClassCount >= nightCourseTotalNumber ? (is_night = false) : (is_night = true);
							/* Night Count End */
							
							var currTableBody = $("#ClassTable").find("tbody");
							var re = /[\(\)&\|\\\*^%$#@\-]/g;

							for(var i = oneDayCourseStart; i <= oneDayCourseEnd; i++) {
								var curClass = data['classTableArr'][i];
								var currTableBodyTmp = '';
								for(var j = 1; j < ClassDayList.length; j++){
									currTableBodyTmp +=
									'<td class="week' + j + '">' + 
										'<a href="#" class="' + curClass[ClassDayList[j]]["Course"].replace(re, "") + '">' + curClass[ClassDayList[j]]["Course"] + '</a><br>' + 
										'<a href="#" class="' + curClass[ClassDayList[j]]["TearcherName"] + '">' + curClass[ClassDayList[j]]["TearcherName"] + '</a>' + 
										'<br>' + curClass[ClassDayList[j]]["ClassRoom"] + 
									'</td>'
								}
								currTableBody.append(
								'<tr class="day">' + 
									'<td>' + 
										curClass["ClassTime"]["ClassNo"] + '<br>' + curClass["ClassTime"]["ClassStart"] + ' ~ ' + curClass["ClassTime"]["ClassEnd"] +
									'</td>' +
									currTableBodyTmp  +
								'</tr>');
							}

							/* Manager Messages Start */
							let totalClassNumber = 13
							var colspan = 7;
							if($(window).width() <= 768){
								for(var i = 1; i < ClassDayList.length; i++){
									if(EmptyClassCount[i] >= totalClassNumber){
										colspan--;
									}
								}
							}

							currTableBody.append(
								'<tr>' +
									'<td id="showhide" class="ClassManagerMessages" colspan="' + colspan + '">總管：</td>' +
								'</tr>'
							)
							/* Manager Messages End */

							for(var i = oneNightCourseStart; i <= oneNightCourseEnd; i++) {
								var curClass = data['classTableArr'][i];
								var currTableBodyTmp = '';
								for(var j = 1; j < ClassDayList.length; j++){
									currTableBodyTmp +=
									'<td class="week' + j + '">' + 
										'<a href="#" class="' + curClass[ClassDayList[j]]["Course"].replace(re, "") + '">' + curClass[ClassDayList[j]]["Course"] + '</a><br>' + 
										'<a href="#" class="' + curClass[ClassDayList[j]]["TearcherName"] + '">' + curClass[ClassDayList[j]]["TearcherName"] + '</a>' + 
										'<br>' + curClass[ClassDayList[j]]["ClassRoom"] + 
									'</td>'
								}								
								currTableBody.append(
								'<tr class="night">' + 
									'<td>' + 
										curClass["ClassTime"]["ClassNo"] + '<br>' + curClass["ClassTime"]["ClassStart"] + ' ~ ' + curClass["ClassTime"]["ClassEnd"] +
									'</td>' +
									currTableBodyTmp  +
								'</tr>');
							}

							/* Manager Messages Start */
							if(is_day && is_night){
								$(".ClassManagerMessages").text("總管：聽說上面是「日校」的課表，下面是「夜校」的課表。")
							}else if(!is_night){
								$(".night").toggle();
								$(".ClassManagerMessages").text("總管：您沒有夜校的課程，已經幫您隱藏，若需要打開請戳我一下。")
							}else if(!is_day){
								$(".day").toggle();
								$(".ClassManagerMessages").text("總管：您沒有日校的課程，已經幫您隱藏，若需要打開請戳我一下。")
							}
							/* Manager Messages End */

							/* Show Hide Event Start */
							colspan = 7; //STUST Managet ColSpan
							for(var i = 1; i < ClassDayList.length; i++){
								if(EmptyClassCount[i] >= totalClassNumber){
									colspan--;
									$("#week" + i).addClass("b1")
									$(".week" + i).addClass("b1")
								}
							}
							$(window).resize(function() {
								wdth=$(window).width();
								if(wdth <= 768){
									$(".ClassManagerMessages").attr('colspan', colspan);
								}else if(EmptyClassCount[6] >= totalClassNumber){
									$("#week6").hide();
									$(".week6").hide();
									$(".ClassManagerMessages").attr('colspan', 6);
								}else{
									$(".ClassManagerMessages").attr('colspan', 7);
								}
							});

							$("#showhide").click(function(){
								if(!is_night){
									if($(".night").css("display") == "none"){
										$(".night").show(800);
										$(".ClassManagerMessages").text("總管：已經幫您打開夜校課程 :D")
									}else{
										$(".night").hide(800);
										$(".ClassManagerMessages").text("總管：已經幫您隱藏夜校課程 :D")
									}
								}else if(!is_day){
									if($(".day").css("display") == "none"){
										$(".day").show(800);
										$(".ClassManagerMessages").text("總管：已經幫您打開日校課程 :D")
									}else{
										$(".day").hide(800);
										$(".ClassManagerMessages").text("總管：已經幫您隱藏日校課程 :D")
									}
								}
							});
							/* Show Hide Event End */
						}
				});
			}
			function LoadAboutFlip() {
				$.ajax({
					url: '/getFlipCourseUrlAndMainEvent',
					dataType: "json",
					success: function(data) {
						if(data['teacherNameArr'] == null){ return;	};

						var re = /[\(\)&\|\\\*^%$#@\-]/g;
						/* Course & Tercher Url Start */
						for (i = 0; i < data['courseNameArr'].length; i++) { 
							var courseName = data['courseNameArr'][i]
							var courseUrl = data['courseHrefs'][i]
							var tearchName = data['teacherNameArr'][i]
							var tearchUrl = data['teacherHrefs'][i]
							$("." + courseName.course.replace(re, "")).attr('href', 'http://flip.stust.edu.tw' + courseUrl.link + '/');
							$("." + courseName.course.replace(re, "")).attr('target','_black'); 
							$("." + tearchName.teacher).attr('href','http://flip.stust.edu.tw' + tearchUrl.link);
							$("." + tearchName.teacher).addClass("window");
						}
						/* Course & Tercher Url End */

						/* Course Event Start */
						var newEvent = data['NewEventArr'];
						var commentEvent = data['CommentEventArr'];
						var bulletinEvent = data['BulletinEventArr'];
						var noticeEvent =	data['NoticeEventArr'];

						for(var i = 1; i <= newEvent.length; i++) {
							if(newEvent[i - 1].course == null) break;
							var tmp = newEvent[i - 1].course.replace(re, "");
							$("." + tmp).append(
								" <i class='far fa-calendar-alt fa-sm' style='color: #FFF'></i>"
							);
						}
						for(var i = 1; i <= commentEvent.length; i++) {
							if(commentEvent[i - 1].course == null) break;
							var tmp = commentEvent[i - 1].course.replace(re, "");
							$("." + tmp).append(
								" <i class='far fa-comments fa-sm' style='color: #FFF'></i>"
							);
						}
						for(var i = 1; i <= bulletinEvent.length; i++) {
							if(bulletinEvent[i - 1].course == null) break;
							var tmp = bulletinEvent[i - 1].course.replace(re, "");
							$("." + tmp).append(
								" <i class='fas fa-bullhorn fa-sm' style='color: #FFF'></i>"
							);
						}
						for(var i = 1; i <= noticeEvent.length; i++) {
							if(noticeEvent[i - 1].course == null) break;
							var tmp = noticeEvent[i - 1].course.replace(re, "");
							$("." + tmp).append(
								" <i class='far fa-file fa-sm' style='color: #FFF'></i>"
							);
						}
						/* Course Event End */
					}
				});
			}